<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruffian.android.module.main">

    <application>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--SplashActivity作为整个app启动页面-->
        <activity android:name=".activity.MainActivity" />
    </application>
</manifest>